body {
    background-color: #02071f;
}

h1 {
    color: white; 
    text-align: center; 
}

.friend {
    background-color: white; 
}

.friend > h3 {
    text-transform: uppercase;
    text-align: center; 
}

